@import './poppins.css';

:root {
  --dark-gray: #20262C;
  --light-purple: #8C85FF;
  --navy-blue: #1C274C;
  --light-blue: #D5DFFF;
  --light-gray: #F4F4F4;
  --red: #DE2E24;
  --off-white: #F6F8FE;
  --cool-gray: #afb4c2;
  --mid-gray: #767a8a;
}

body {
  color: var(--dark-gray);

  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.options-container {
  position: relative;
}

.editor-selector-menu {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.editor-image-placeholder {
  width: 100%;
  height: 50px; /* Adjust as needed */
  background-color: #eee; /* Placeholder color */
  margin-bottom: 5px;
}

.text-editor {
  transition: width 0.5s ease-in-out;
}

#line-numbers.hidden {
  display: none !important;
}

.options-container:hover .editor-selector-menu,
.options-container.open .editor-selector-menu {
  opacity: 1;
  visibility: visible;
}

.editor-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editor-btn.active {
  background-color: #d5dfff;
}

#editor,
#monaco-editor-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#editor.hidden,
#monaco-editor-container.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Add this to prevent the hidden editor from taking up space */
  pointer-events: none; /* Add this to prevent interaction with the hidden editor */
}