/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2') format('woff2');
}